<footer>
    <div class="footer">
      <div class="start">
        <p>
            {{ site_info.address }}
        </p>
        <ul>
          <li>
            <a href="mailto:{{ site_info.email }}">{{ site_info.email }}</a>
          </li>
          <li>
            <a href="tel:{{ site_info.phone_number }}">{{ site_info.phone_number }}</a>
          </li>
        </ul>
      </div>
      <div class="center">
        <ul>
          <li>
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'properties' %}">Properties</a>
          </li>
          <li>
            <a href="{% url 'projects' %}">Projects</a>
          </li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{{ site_info.whatsapp }}"> <span><i class="ri-whatsapp-line"></i></span> Whatsapp</a>
          </li>
          <li>
            <a href="{{ site_info.instagram }}"> <span><i class="ri-instagram-line"></i></span> Instagram</a>
          </li>
          <li>
            <a href="{{ site_info.twitter }}"> <span><i class="ri-twitter-x-line"></i></span> Twitter</a>
          </li>
          <li>
            <a href="mailto:{{ site_info.email }}"> <span><i class="ri-mail-line"></i></span> Email</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="line"></div>
    <div class="footer_last">
      <p>
        &copy;<script>
                document.writeln(new Date().getFullYear())
              </script>Arcs and Glass. All rights reserved
      </p>
      <ul>
        <li>
          <a href="{% url 'index' %}">Privacy Policy</a>
        </li>
        <li>
          <a href="{% url 'index' %}">Terms and Conditions</a>
        </li>
      </ul>
    </div>
  </footer>