{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './assets/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static './assets/css/footer.css' %}" />
    {% block head %}

    {% endblock %}
    <link rel="stylesheet" href="{% static './assets/css/global.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static './assets/image/ArcsGlassLogo-Primary-2048x2048.png' %}" type="image/x-icon" />
  </head>
  <body>
    <!-- Pre loader -->
    <div id="preloader">
      <div class="logo-container_blog">
        <img src="{% static '/images/Arcs_Glass_logo.png' %}" alt="Logo" class="logo_blog" />
      </div>
    </div>
    <!-- Pre loader ends -->

    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <a href="/" class="nav__logo"><img src="{% static './assets/image/ArcsGlassLogo-Primary-2048x2048.png' %}" width="65px" alt="" /></a>

          <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line nav__toggle-menu"></i>
            <i class="ri-close-line nav__toggle-close"></i>
          </div>
        </div>

        <!-- =============== NAV MENU =============== -->
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li>
              <a href="{% url 'about' %}" class="nav__link">ABOUT</a>
            </li>

            <!-- =============== DROPDOWN 1 =============== -->
            <li class="dropdown__item">
              <a class="nav__link" href="{% url 'projects' %}">PROJECTS <i class="ri-arrow-down-s-line dropdown__arrow"></i></a>

              <div class="dropdown__container">
                <div class="dropdown__content">
                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/gv xi.jpg' %}" alt="" />
                    </div>

                    <span class="dropdown__title">The Glass Vine</span>

                    <p>Our unique 1, 2 and 3 bedroom apartments located at Oniru sets the pace for what luxury and comfort looks like. The design is exquisite and highly functional.</p>
                    <button><a href="{% url 'projects' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>

                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/ksc vii.jpg' %}" alt="" />
                    </div>

                    <span class="dropdown__title">Kingsmart City</span>

                    <p>
                      This was our first commercial project located at Muri Okunola, Victoria Island, Lagos. <br />
                      We created a modern industrial space for our client. We used black panels and worked with walnut to create a rustic but clean look.
                    </p>
                    <button><a href="{% url 'projects' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>

                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/The Grandeur.JPG' %}" alt="" />
                    </div>

                    <span class="dropdown__title">The Grandeur</span>

                    <p>
                      This was our first commercial project located at Muri Okunola, Victoria Island, Lagos. <br />
                      We created a modern industrial space for our client. We used black panels and worked with walnut to create a rustic but clean look.
                    </p>
                    <button><a href="{% url 'projects' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>
                </div>
              </div>
            </li>

            <!-- =============== DROPDOWN 2 =============== -->
            <li class="dropdown__item">
              <a class="nav__link" href="{% url 'properties' %}">PROPERTIES <i class="ri-arrow-down-s-line dropdown__arrow"></i></a>

              <div class="dropdown__container">
                <div class="dropdown__content">
                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/gv xi.jpg' %}" alt="" />
                    </div>

                    <span class="dropdown__title">The Glass Vine</span>

                    <p>Our unique 1, 2 and 3 bedroom apartments located at Oniru sets the pace for what luxury and comfort looks like. The design is exquisite and highly functional.</p>
                    <button><a href="{% url 'properties' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>

                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/ksc vii.jpg' %}" alt="" />
                    </div>

                    <span class="dropdown__title">Kingsmart City</span>

                    <p>
                      This was our first commercial project located at Muri Okunola, Victoria Island, Lagos. <br />
                      We created a modern industrial space for our client. We used black panels and worked with walnut to create a rustic but clean look.
                    </p>
                    <button><a href="{% url 'properties' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>

                  <div class="dropdown__group">
                    <div class="dropdown__icon">
                      <img src="{% static './images/projects/The Grandeur.JPG' %}" alt="" />
                    </div>

                    <span class="dropdown__title">The Grandeur</span>

                    <p>
                      This was our first commercial project located at Muri Okunola, Victoria Island, Lagos. <br />
                      We created a modern industrial space for our client. We used black panels and worked with walnut to create a rustic but clean look.
                    </p>
                    <button><a href="{% url 'properties' %}" class="read-more-btn"><span class="btn-icon">➤</span> Read more</a></button>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a class="nav__link" href="{% url 'blog' %}">BLOG</a>
            </li>

            <li class="dropdown__item">
              <a class="nav__link" href="{% url 'contact' %}">CONTACT</a>
            </li>
            <li class="dropdown__item">
              <a class="nav__link" href="{% static 'assets/doc/brochure.pdf' %}">Brochure</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
      <div class="footer">
        <div class="start">
          <p>
            Chau. de Louvain 3, 1210 <br />
            Saint-Josse-ten-Noode, Belgium.
          </p>
          <ul>
            <li>
              <a href="mailto:info@email.com">info@email.com</a>
            </li>
            <li>
              <a href="tel:+3255580331">+3255580331</a>
            </li>
          </ul>
        </div>
        <div class="center">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/">Properties</a>
            </li>
            <li>
              <a href="/">Projects</a>
            </li>
            <li>
              <a href="/">About</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/">Whatsapp</a>
            </li>
            <li>
              <a href="/">Instagram</a>
            </li>
            <li>
              <a href="/">Twitter</a>
            </li>
            <li>
              <a href="/">Email</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div class="footer_last">
        <p>
          &copy;<script>
                  document.writeln(new Date().getFullYear())
                </script>Arcs and Glass. All rights reserved
        </p>
        <ul>
          <li>
            <a href="/">Privacy Policy</a>
          </li>
          <li>
            <a href="/">Terms and Conditions</a>
          </li>
        </ul>
      </div>
    </footer>
    {% block scripts %}
    {% endblock %}
    <script src="{% static './assets/js/preloader.js' %}"></script>
    <script src="{% static './assets/js/nav.js' %}"></script>
  </body>
</html>
