{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static './assets/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static './assets/css/footer.css' %}" />
    {% block head %}

    {% endblock %}
    <link rel="stylesheet" href="{% static './assets/css/global.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static './assets/image/ArcsGlassLogo-Primary-2048x2048.png' %}" type="image/x-icon" />
  </head>
  <body>
    <!-- Pre loader -->
    <div id="preloader">
      <div class="logo-container_blog">
        <img src="{% static '/images/Arcs_Glass_logo.png' %}" alt="Logo" class="logo_blog" />
      </div>
    </div>
    <!-- Pre loader ends -->

    {% include 'home_nav.html' with nav_latest_projects=nav_latest_projects nav_latest_properties=nav_latest_properties %}
    {% block content %}

    {% endblock %}
    {% include 'footer.html' with site_info=site_info %}
    {% block scripts %}
    {% endblock %}
    <script src="{% static './assets/js/preloader.js' %}"></script>
    <script src="{% static './assets/js/nav.js' %}"></script>
  </body>
</html>
