{% extends 'home_template.html' %}
{% load static %}
{% block head %}
  <title>PROJECTS || ARCS N GLASS</title>
  <link rel="stylesheet" href="{% static './assets/css/projects.css' %}" />
{% endblock %}
{% block content %}
  <section class="project-section">
    <div class="overlay"></div>
    <img src="{% static './images/projects/ksc x.jpg' %}" alt="About Us Background" class="background-img" />
    <div class="content">
      <h1>PROJECTS</h1>
    </div>
  </section>

  <div class="card-container">
    <!-- Card 1 -->
    {% for project in projects %}
      <a href="{% url 'project_info' project.slug %}" class="card">
        {% if project.project_images.count > 0 %}
          <img src="{{ project.project_images.first.image.url }}" alt="{{ project.name }}">
        {% else %}
          <img src="{% static 'assets/image/default.jpg' %}" alt="{{ project.name }}" />
        {% endif %}
        <div class="overlay"></div>
        <div class="card-content">
          <h3 style="text-transform: uppercase;">{{ project.name }}</h3>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
