{% extends 'home_template.html' %}
{% load static %}
{% block head %}
  <title>PROJECT INFO || ARCS N GLASS</title>
  <link rel="stylesheet" href="{% static './assets/css/lightbox.css' %}" />
  <link rel="stylesheet" href="{% static './assets/css/projects.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="shortcut icon" href="./assets/image/ArcsGlassLogo-Primary-2048x2048.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
{% endblock %}
{% block content %}
  <section class="project-section">
    <div class="overlay"></div>
    <img src="{{ project.project_images.first.image.url }}" alt="About Us Background" class="background-img" />
    <div class="content">
      <h1 style="text-transform: uppercase;">{{ project.name }}</h1>
    </div>
  </section>

  <div class="project-details">
    <h1>Project Description</h1>
    <p>{{ project.description }}</p>
    <ul style="margin-top: 40px !important;">
      <li>
        <span style="font-weight: bold; display: inline-block; margin-right: 15px; margin-bottom: 10px">Duration:</span> <span style="font-weight: normal;">{{ project.duration }}</span>
      </li>
      <li>
        <span style="font-weight: bold; display: inline-block; margin-right: 15px; margin-bottom: 10px">Property Type:</span> <span style="font-weight: normal">{{ project.property_type }}</span>
      </li>
      <li>
        <span style="font-weight: bold; display: inline-block; margin-right: 15px; margin-bottom: 10px">Style:</span> <span style="font-weight: normal">{{ project.style }}</span>
      </li>
      <li>
        <span style="font-weight: bold; display: inline-block; margin-right: 15px; margin-bottom: 10px">Year Of Execution:</span> <span style="font-weight: normal">{{ project.year_of_execution }}</span>
      </li>
    </ul>
  </div>

  <div class="card-container carousel-item">
    {% for project_image in project.project_images.all %}
      <div class="card">
        <img src="{{ project_image.image.url }}" alt="Card 1 Image" />
      </div>
    {% endfor %}
  </div>
  {% block script %}
    <script src="./assets/js/lightbox-plus-jquery.js"></script>
    <script src="{% static './assets/js/projectinfo.js' %}"></script>
  {% endblock %}
{% endblock %}
