{% extends 'home_template.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
  <title>PROPERTIES INFO || ARCS N GLASS</title>
  <link rel="stylesheet" href="{% static './assets/css/properties.css' %}" />
  <link rel="stylesheet" href="{% static './assets/css/lightbox.css' %}" />
  <link rel="stylesheet" href="{% static './assets/css/propertyInfo.css' %}" />
{% endblock %}
{% block content %}
  <section class="property-section">
    <div class="content">
      <h2>{{ property.name }}</h2>
      <p>{{ property.location }}</p>
      <h3>₦{{ property.price|format_amount }}</h3>
    </div>
  </section>

  <div class="gallery-container">
    <!-- Featured Image -->
    <div class="featured-image">
      {% if property.property_images.count > 0 %}
        <img src="{{ property.property_images.first.image.url }}" alt="Featured Property" />
      {% else %}
        <img src="{% static 'assets/image/default.jpg' %}" alt="Featured Property" />
      {% endif %}
    </div>

    <!-- Thumbnails Section -->
    <div class="thumbnails">
      {% for property_image in property.property_images.all|slice:15 %}
        <a href="{{ property_image.image.url }}" data-lightbox="image-1" class="gallery-item w-inline-block w-lightbox"><img src="{{ property_image.image.url }}" alt="" class="{{ property_image.property.name }}" /></a>
      {% endfor %}
    </div>
  </div>

  <section class="property-info">
    <div>
      <h1>Details</h1>
      <div class="price">₦{{ property.price|format_amount }}</div>
      <div class="details">
        <div>🚗 {{ property.parking_space_count }}</div>
        <div>🛏 {{ property.bedroom_count }}</div>
        <div>🛁 {{ property.bathroom_count }}</div>
        <div>🏠 {{ property.home_unit_count }}</div>
      </div>
    </div>

    <div class="desc-section">
      <h2>Description</h2>
      <div class="description">
        <p>{{ property.description }}</p>
      </div>
    </div>
    {% if property.property_amenities.count < 1 %}
      <h2>No Amenities Specified</h2>
    {% else %}
      <h2>Amenities</h2>
      <div class="amenities">
        {% for amenity in property.property_amenities.all %}
          <div>{{ amenity.amenity }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </section>

  {% block script %}
    <script src="{% static './assets/js/lightbox-plus-jquery.js' %}"></script>
  {% endblock %}
{% endblock %}
