{% extends 'home_template.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
  <title>PROPERTIES || ARCS N GLASS</title>
  <link rel="stylesheet" href="{% static './assets/css/properties.css' %}" />
{% endblock %}
{% block content %}
  <section class="property-section">
    <div class="overlay"></div>
    <img src="{% static './images/projects/ksc x.jpg' %}" alt="About Us Background" class="background-img" />
    <div class="content">
      <h1>PROPERTY</h1>
    </div>
  </section>

  <section class="search-section">
    <h1>Find your next place to live</h1>
    <form class="dropdown-container" method="POST" action="{% url 'properties' %}">
      {% csrf_token %}
      <div class="dropdown">
        <p for="looking-for" style="padding-bottom: 5px; color: white; text-align: left;">Property type</p>
        <select name="property_type" id="looking-for">
          <option value="">Select...</option>
          <option value="duplex">Duplex</option>
          <option value="apartment">Flat &amp; Apartment</option>
        </select>
      </div>
      <div class="slider-bg">
        <div class="slider-header">
          <p>Price</p>
          <p>
            ₦<span id="price">0</span>
          </p>
        </div>
        <div class="slidecontainer">
          <input name="price" type="range" min="0" max="500000000" value="0" class="slider" id="priceRange" />
        </div>
      </div>
      <div class="slider-bg">
        <div class="slider-header">
          <p>Bedrooms</p>
          <p>
            <span id="beds"></span>
          </p>
        </div>
        <div class="slidecontainer">
          <input name="bedrooms" type="range" min="0" max="10" value="0" class="slider" id="bedRange" />
        </div>
      </div>
      <div class="slider-bg">
        <div class="slider-header">
          <p>Bathrooms</p>
          <p>
            <span id="baths"></span>
          </p>
        </div>
        <div class="slidecontainer">
          <input name="baths" type="range" min="0" max="10" value="0" class="slider" id="bathRange" />
        </div>
      </div>
      <button type="submit">Apply Filter</button>
    </form>
  </section>

  <section>
    {% if properties.count > 0 %}
      <div class="card-container">
        {% for property in properties %}
          <a href="{% url 'property_info' property.slug %}" class="card">
            <img src="{{ property.property_images.first.image.url }}" alt="{{ property.name }}" class="card-img" />
            <div class="card-content">
              <p>₦{{ property.price|format_amount }}</p>
              <h3 style="text-transform: capitalize;">{{ property.name }}</h3>
              <p>{{ property.location }}</p>
              <div class="card-info">
                <div class="icon-info">
                  <span>🛏️ {{ property.bedroom_count }}</span>
                  <span>🛁 {{ property.bathroom_count }}</span>
                  <span>🏘️ {{ property.home_unit_count }}</span>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if properties.count == 0 %}
      <h2 style="text-align: center; margin: 80px auto">No Available Property</h2>
    {% endif %}
  </section>
{% endblock %}
{% block scripts %}
  <script src="{% static 'assets/js/properties.js' %}"></script>
{% endblock %}
